@font-face {
  font-family: myFirstFont;
  src: url(Kanit-Regular.woff);
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to right, #766957,white,#766957);  */
  /* overflow-x: hidden; */
  font-family: myFirstFont;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.row{
  margin: 0;
}
/* .bg-overray{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
} */
.section{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
/* 
  SECTION1
*/
.section.section1{
  height: 100vh;
  /* cyber-3400789_1280.jpg */
  /* background-color: #1C1C1C; */
}
.section.section1 .bg-image{
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../images/bg-1.png);
  position: absolute;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section.section1 .bg-overray{
  width: 100%;
  height: 100%;
  position: absolute;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.section.section1 .random{
  font-size: 80px;
}
.center-vertical{
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #E8E8E8;
  z-index: 3;
}
.section.section1 a{
  text-decoration: none;
  color: #E8E8E8;
}
.section.section1 a:nth-last-child(1){
  margin-left: 25px;
}

/* 
  SECTION2
*/
.section.section2{
  background-color: #000;
  display: block;
  padding: 50px 0px 50px 0px;
  color: #E8E8E8;
  overflow: hidden;
}

.section.section2 .cut-lint{
  width: 150px;
  height: 300vh;
  background-color: rgb(255,80,80);
  transform: rotate(70deg);
  position: absolute;
  top: -700px;
  left: 30%;
  z-index: 1;
}
.section.section2 h1{
  text-align: center;
  padding-top: 25px;
  text-shadow: 5px 4px #363636;
  z-index: 2;
  position: relative;
}
.section.section2 h3{
  padding-top: 25px;
  text-align: center;
  text-shadow: 5px 4px #363636;
  z-index: 2;
  position: relative;
}
.section.section2 a{
  text-decoration: none;
  color: #E8E8E8;
}
.section.section2 .row{
  z-index: 2;
  position: relative;
}
.circular-landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 20px solid rgb(255,80,80);
  z-index: 3;
}
.circular-landscape img{
  width: 100%;
  /* height: 100%; */
  /* margin-left: -50px; */
}

/* SECTION 3 */
.section.section3{
  background-color: #000;
  padding: 0 0 50px 0;
}
.section.section3 h1{
  margin:10px;
  font-weight: bold;
  color: #E8E8E8;
  text-shadow: 0px 0px 20px #fff;
}
.section.section3 h3{
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
}
.section.section3 h4{
  color: #fff;
}

/* SECTION 4 */
.section.section4{
  background-color: #000;
  padding: 0 0 50px 0;
}
.section.section4 h1{
  margin:10px;
  font-weight: bold;
  color: #E8E8E8;
  text-shadow: 0px 0px 20px #fff;
}

    /* ================ The Timeline ================ */

    .timeline {
      position: relative;
      width: 770px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 1em 0;
      list-style-type: none;
    }

    .timeline:before {
      position: absolute;
      left: 50%;
      top: 0;
      content: ' ';
      display: block;
      width: 6px;
      height: 100%;
      margin-left: -3px;
      background: rgb(80,80,80);
      background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
      background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      
      z-index: 5;
    }

    .timeline li {
      padding: 1em 0;
    }

    .timeline li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .direction-l {
      position: relative;
      width: 355px;
      float: left;
      text-align: right;
    }

    .direction-r {
      position: relative;
      width: 355px;
      float: right;
    }

    .flag-wrapper {
      position: relative;
      display: inline-block;
      
      text-align: center;
    }

    .flag {
      position: relative;
      display: inline;
      background: rgb(248,248,248);
      padding: 6px 10px;
      border-radius: 5px;
      
      font-weight: 600;
      text-align: left;
    }

    .direction-l .flag {
      -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }

    .direction-r .flag {
      -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: 60%;
      right: -36px;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-top: -10px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
    }

    .direction-r .flag:before {
      left: -36px;
    }

    .direction-l .flag:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
    }

    .direction-r .flag:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
    }

    .time-wrapper {
      display: inline;
      
      line-height: 1em;
      font-size: 0.66666em;
      color: rgb(250,80,80);
      vertical-align: middle;
    }

    .direction-l .time-wrapper {
      float: left;
    }

    .direction-r .time-wrapper {
      float: right;
    }

    .time {
      display: inline-block;
      padding: 4px 6px;
      background: rgb(248,248,248);
    }

    .desc {
      margin: 1em 0.75em 0 0;
      font-size: 0.77777em;
      font-style: italic;
      line-height: 1.5em;
      color: #fff;
    }

    .desc span{
      font-weight: bold;
    }

    .direction-r .desc {
      margin: 1em 0 0 0.75em;
    }

    /* 
      SECTION 5
    */
    .section.section5{
      width: 100%;
      background-color: #000;
    }
    .section.section5 h1{
      margin:10px;
      font-weight: bold;
      color: #E8E8E8;
      text-shadow: 0px 0px 20px #fff;
    }
    .section.section5 .frm-outline .frm-content{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      transition: 0.5s;
      padding: 10px;
    }
    .section.section5 .frm-outline .frm-content:hover{
      background-color: rgba(0, 0, 0, 0.7);
      transition: 0.5s;
    }
    .frm-content a{
      display: none;
      color: white;
      /* text-decoration: white; */
    }
    .section.section5 .frm-outline .frm-content:hover a{
      display: block;
    }
    .frm-content small{
      color: white;
      display: none;
    }
    .section.section5 .frm-outline .frm-content:hover small{
      display: block;
    }

    footer{
      width: 100%;
      background-color: rgb(255,80,80);
      padding: 100px 0 100px 0;
    }
    footer h3{
      margin: 0;
      font-weight: bold;
      color: #E8E8E8;
      text-shadow: 0px 0px 20px #fff;
      padding: 15px 0 5px 0;
    }
    footer p{
      color: black;
      margin: 0;
    }
    footer a{
      color: black;
      text-decoration: none;
    }
    footer a:hover{
      color: white;
      text-decoration: none;
    }
    /* ================ Timeline Media Queries ================ */

    @media screen and (max-width: 900px) {

    .timeline {
      width: 100%;
      padding: 4em 0 1em 0;
    }

    .timeline li {
      padding: 2em 0;
    }

    .direction-l,
    .direction-r {
      float: none;
      width: 100%;

      text-align: center;
    }

    .flag-wrapper {
      text-align: center;
    }

    .flag {
      background: rgb(255,255,255);
      z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: -30px;
      left: 51%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
    }

    .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
    }

    .direction-l .time-wrapper {
      float: none;
    }

    .direction-r .time-wrapper {
      float: none;
    }

    .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      color: #000;
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
      z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
      z-index: 15;
    }

    }

    @media screen and (max-width: 900px) {

    .direction-l .desc,
    .direction-r .desc {
      margin: 1em 4em 0 4em;
    }

}

/* asdasdasd */
#rudr_instafeed{
  list-style:none;
}
#rudr_instafeed li{
  float:left;
  width:230px;
  height:230px;
  margin:10px
}
#rudr_instafeed li img{
  max-width:100%;
  max-height:100%;
}