@font-face {
  font-family: myFirstFont;
  src: url(Kanit-Regular.woff);
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to right, #766957,white,#766957);  */
  /* overflow-x: hidden; */
  font-family: myFirstFont;
}
.row{
  margin: 0;
}
/* .bg-overray{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
} */
.section{
  width: 100%;
  height: auto;
  position: relative;
}
.section.section1{
  height: 100vh;
  /* background-color: #cccccc; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* cyber-3400789_1280.jpg */
  background-color: #1C1C1C;
}
.section.section1 .random{
  font-size: 80px;
}
.center-vertical{
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #E8E8E8;
}
.section.section1 a{
  text-decoration: none;
  color: #E8E8E8;
}
.section.section1 a:nth-last-child(1){
  margin-left: 25px;
}