@font-face {
  font-family: myFirstFont;
  src: url(Kanit-Regular.woff);
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to right, #766957,white,#766957);  */
  /* overflow-x: hidden; */
  font-family: myFirstFont;
}
.row{
  margin: 0;
}
/* .bg-overray{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
} */
.section{
  width: 100%;
  height: auto;
  position: relative;
}
/* 
  SECTION1
*/
.section.section1{
  height: 100vh;
  /* cyber-3400789_1280.jpg */
  /* background-color: #1C1C1C; */
}
.section.section1 .bg-image{
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../images/bg-1.png);
  position: absolute;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section.section1 .bg-overray{
  width: 100%;
  height: 100%;
  position: absolute;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.section.section1 .random{
  font-size: 80px;
}
.center-vertical{
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #E8E8E8;
  z-index: 3;
}
.section.section1 a{
  text-decoration: none;
  color: #E8E8E8;
}
.section.section1 a:nth-last-child(1){
  margin-left: 25px;
}

/* 
  SECTION2
*/
.section.section2{
  background-color: #000;
  display: block;
  padding: 50px 0px 50px 0px;
  color: #E8E8E8;
}
.section.section2 h1{
  text-align: center;
  padding-top: 25px;
  text-shadow: 5px 4px #363636;
}
.section.section2 h3{
  padding-top: 25px;
  text-align: center;
  text-shadow: 5px 4px #363636;
}
.section.section2 a{
  text-decoration: none;
  color: #E8E8E8;
}
.circular-landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.circular-landscape img{
  width: 100%;
  /* height: 100%; */
  /* margin-left: -50px; */
}